<dl class="faq">
  <dt>
    <button aria-expanded="false" aria-controls="faq1_desc">
      How does AdventureBook work?
    </button>
  </dt>
  <dd>
    <p id="faq1_desc" class="desc">
        Loren Ipsum
    </p>
  </dd>
  <dt>
    <button aria-expanded="false" aria-controls="faq2_desc">
      Why should I use AdventureBook?
    </button>
  </dt>
  <dd>
    <p id="faq2_desc" class="desc">
        Loren Ipsum
    </p>
  </dd>
  <dt>
    <button aria-expanded="false" aria-controls="faq3_desc">
      Is AdventureBook safe?
    </button>
  </dt>
  <dd>
    <p id="faq3_desc" class="desc">
        Loren Ipsum
    </p>
  </dd>
  <dt>
    <button aria-expanded="false" aria-controls="faq4_desc">
      How do we meet and connect?
    </button>
  </dt>
  <dd>
    <p id="faq4_desc" class="desc">
        Loren Ipsum
    </p>
  </dd>
</dl>
