<!DOCTYPE html>
<html>
  <head>
    <title>Help page</title>
  </head>
  <body>
 
   <p>
   Sign Up! It's easy as 1,2,3...

   <ul>
   <li>
   1.
   2.
   3.
   4.

   </li>

   </ul>

   </p>
  </body>
</html>