<div class="center jumbotron">

  <h1>Welcome to AdventureBook</h1>
  <h2>"Seek Adventures, Adventurerers, and Adventurize"</h2>



  







<div id="myCarousel" class="carousel slide" data-ride="carousel"style="width: 900px; margin: 0 auto">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="snowboarding.jpg" alt="Los Angeles">
    </div>

    <div class="item">
      <img src="/assets/skiing.jpg" />
    </div>

    <div class="item">
      <img src="mountain_biking.jpg" alt="New York">
    </div>

        <div class="item">
      <img src="/assets/surfing.jpg" />
    </div>

        <div class="item">
      <img src="/assets/dirtbiking.jpg" />
    </div>

        <div class="item">
      <img src="kayaking.jpg" alt="Chicago">
    </div>

        <div class="item">
      <img src="/assets/running.jpg" />
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>

<div class="btn-group" style="width:100%">
  <button style="width:12%">Snowboarding</button>
  <button style="width:10%">Skiing</button>
  <button style="width:12%">Snowboarding and Skiing</button>
   <button style="width:10%">Mountain Biking</button>
  <button style="width:10%">Road Biking</button>
  <button style="width:10%">Kayaking</button>
   <button style="width:10%">Camping</button>
  <button style="width:10%">Dirtbiking</button>
  <button style="width:10%">Running</button>
</div>

  <%= link_to "Sign up", '/signup', class: "btn btn-lg btn-primary" %>
  <%= link_to "Login", '/signup', class: "btn btn-lg btn-primary" %>
<div class="container">

  <div class="column1">
    <h2>How it Works!</h2>
   
    <ol>
  <li>Sign Up and Agree to our TOS</li>
  <li>Request, Start, or Join an Adventure/Sport/Activity based on your level</li>
  <li>Get notied of when and where to meet</li>
</ol>

</div>
<div class="column1">
    <h2>About us:</h2>
    <p> I built this application based on need to seek out other advenventurists and meet new people! AdventureBook is an application that connects people with similair skills to adventure, train, and ultimatelty connect.</p>
</div>

</div>

</div>


